.property-add-container {
  margin-top: 42px;
  margin-bottom: 42px;
  padding: 24px 24px 32px 24px;
  border-radius: 8px;
  background: #ffffff;
  color: #020f07;
}

.property-add-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.72px;
}

.property-input-title {
  font-size: 14px;
  line-height: 145%;
  margin-bottom: 12px;
}

.property-description {
  height: 120px;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #e6e7e6;
}

.property-images-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 18px;
}

.property-display-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 18px;
}

@media (max-width: 575.98px) {
  .property-add-container {
  margin-top: 36px;
  margin-bottom: 32px;
  padding: 22px 10px 0px 10px;
}

  .property-images-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 18px;
  }

  .property-display-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
  }

  .custom-table{
  display: grid;
  column-gap: 16px;
  }

  .custom-table tr {
 
 
}

.custom-table th,
.custom-table td {
  margin-right: 24px;
}

}

@media (min-width: 576px) and (max-width: 767.98px) {
  .property-images-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 18px;
  }
  .property-display-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .property-add-container {
    margin-top: 18px;
    padding: 22px 17px 0px 19px;
  }
}
