.navbar-container {
  padding-top: 40px;
}

.nav-chuty-logo {
  width: 150px;
  height: 56px;
}

.nav-item-container:hover {
  /* background: #c5e5d1; */
  background: #159947;
  color: #ffffff;
}

.nav-icon {
  margin-right: 4px;
  width: 18px;
  height: 18px;
}

.nav-icon.light {
  display: none; /* Initially hide the light icon */
}

a:hover .nav-icon {
  display: none; /* Hide normal icon on hover */
}

a:hover .nav-icon.light {
  display: inline-block; /* Show light icon on hover */
}

/* .nav-icon-hide {
  display: none;
}

.nav-icon-light {
  display: none;
}

.nav-icon-light-show {
  margin-right: 4px;
  width: 18px;
  height: 18px;
  display: block;
} */

.menu-container {
  width: 100%;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 12px 0px rgba(35, 184, 85, 0.08);
  height: 200px;
  /* height: fit-content; */
  overflow: hidden;
  display: none;
}

.menu-icon {
  display: none;
}

.user-icon-container {
  margin-top: 0px;
}

@media (max-width: 575.98px) {
  .navbar-container {
    padding-top: 8px;
  }

  .nav-chuty-logo {
    width: 90px;
    height: 24px;
  }

  .nav-icon {
    margin-right: 4px;
    width: 16px;
    height: 16px;
  }

  .menu-mobile {
    display: none;
  }

  .menu-container {
    display: block;
  }
  .menu-icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 4px;
  }

  .user-icon-container {
    margin-bottom: 0px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-container {
    padding-top: 20px;
  }

  .nav-chuty-logo {
    width: 114px;
    height: 24px;
    margin-bottom: 10px;
  }
  .menu-mobile {
    display: none;
  }
  .menu-icon {
    display: block;
  }

  .menu-container {
    display: block;
  }

  .user-icon-container {
    margin-top: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-container {
    padding-top: 20px;
  }

  .nav-chuty-logo {
    width: 134px;
    height: 24px;
    margin-bottom: 16px;
  }
  .menu-mobile {
    display: none;
  }
  .menu-icon {
    display: block;
  }

  .menu-container {
    display: block;
  }

  .user-icon-container {
    margin-top: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-container {
    padding-top: 30px;
  }

  .user-icon-container {
    margin-top: 0px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}
