:root {
    --swiper-navigation-size: 18px;
    --swiper-theme-color: #000000;
}

.swiper-button-prev, .swiper-button-next {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 50%;
}

.swiper-button-prev {
  left: 4px;
}

.swiper-button-next {
  right: 4px;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  display: none;
}

@media (max-width: 575.98px) {
  .explore-country-container{
margin: 0 8px;
}

:root {
    --swiper-navigation-size: 16px;
}

.swiper-button-prev, .swiper-button-next {
  width: 30px;
  height: 30px;
}
}

@media (min-width: 576px) and (max-width: 767.98px) {
      .explore-country-container{
margin: 0 8px;
}
}