.hotel-search-result-container {
  margin-top: 50px;
  margin-bottom: 100px;
  position: relative;
}

.filter-hotels-container {
  /* margin-top: 50px; */
  display: flex;
  /* margin-bottom: 100px; */
}

.search-page-title {
  font-size: 24px;
  font-family: "Gilroy-semibold";
}

.filter-container {
  width: 30%;
  padding-right: 50px;
}

.suggested-place {
  height: 40px;
  color: #159947;
  padding-left: 10px;
  padding-right: 10px;
  background: #e8f5ed;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hotels-result-container {
  width: 70%;
  padding-left: 50px;
}

.hotels {
  margin-top: 24px;
  /* display: grid; */
  /* grid-template-columns: repeat(1,1fr); */
  gap: 24px;
}

.hotel {
  display: flex;
  gap: 18px;
  background: #ffffff;
  padding: 15px 24px 15px 18px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(29, 170, 104, 0.12);
  margin-bottom: 24px;
  /* border: 1px solid; */
}

.hotel-img-slider {
  width: 50%;
}

.hotel-details-container {
  width: 50%;
}

.room-img {
  /* width: 460px; */
  height: 220px;
  width: 100%;
}

.ratings {
  display: flex;
  margin-right: 4px;
}

.ratings img {
  width: 18px;
}

.custom-checkbox {
  padding: 0 !important;
  /* width: ; */
}
.custom-checkbox .css-1m9pwf3 {
  padding: 0 !important;
}

.download-app-img {
  height: 240px;
  width: 100%;
}

.filter-btn {
  display: none;
}

.map-view-container {
  width: 100%;
  border-radius: 8px;
}


/********   Map view toggole component customize   ********/
.toggle-success:checked,
.toggle-success[checked="true"],
.toggle-success[aria-checked="true"] {
  background-color: #159947;
}

.css-iljtu2-MuiRating-root {
  color: #159947 !important;
}

.css-187mznn-MuiSlider-root {
  color: #159947 !important;
}

.hotel-img-slider :root {
  --swiper-navigation-size: 14px !important;
}

.hotel-img-slider .swiper-button-prev {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
}
.hotel-img-slider .swiper-button-next {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
}

/****** pagination style ******/
.css-lqq3n7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    /* background-color: rgba(0, 0, 0, 0.08); */
    color: white;
    background: #159947 !important;
}


/************************
     Responsive
************************/

@media (max-width: 575.98px) {
  .hotel-search-result-container {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .search-page-title {
    font-size: 16px;
  }

  .filter-mobile {
    display: none;
  }

  .hotels-result-container {
    width: 100%;
    padding-left: 0px;
  }

  .hotel {
    display: block;
    gap: 18px;
    padding: 10px;
    box-shadow: 0px 4px 15px rgba(29, 170, 104, 0.12);
    margin-bottom: 24px;
    /* border: 1px solid; */
  }

  .hotel-img-slider {
    width: 100%;
  }

  .hotel-details-container {
    width: 100%;
    margin-top: 12px;
  }

  .ratings img {
    width: 16px;
  }

  .download-app-img {
    height: 114px;
  }

  .filter-btn {
    font-size: 14px;
    /* position: sticky;
  bottom: 36px;
  left: 44%; */
    display: flex;
    height: 40px;
    padding: 0 16px;
    background: #1d6be5;
    box-shadow: 0px 8px 25px rgba(15.65, 90.17, 234.81, 0.25);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: fit-content;
    margin: auto;
    z-index: 1;
  }

  .hotel-img-slider .swiper-button-prev {
    width: 28px;
    height: 28px;
  }
  .hotel-img-slider .swiper-button-next {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .search-page-title {
    font-size: 16px;
  }

  .filter-container {
    width: 36%;
    padding-right: 16px;
  }

  .hotels-result-container {
    width: 64%;
    padding-left: 16px;
  }

  .hotel {
    display: block;
    gap: 18px;
    padding: 8px;
    margin-bottom: 24px;
  }

  .hotel-img-slider {
    width: 100%;
  }

  .hotel-details-container {
    margin-top: 12px;
    width: 100%;
  }

  .download-app-img {
    height: 120px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .search-page-title {
    font-size: 18px;
  }

  .filter-container {
    width: 40%;
    padding-right: 22px;
  }

  .hotels-result-container {
    width: 60%;
    padding-left: 22px;
  }

  .hotel {
    display: block;
    gap: 18px;
    padding: 10px;
    margin-bottom: 24px;
  }

  .hotel-img-slider {
    width: 100%;
  }

  .hotel-details-container {
    margin-top: 12px;
    width: 100%;
  }

  .download-app-img {
    height: 140px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .search-page-title {
    font-size: 24px;
  }

  .filter-container {
    width: 40%;
    padding-right: 40px;
  }

  .hotels-result-container {
    width: 60%;
    padding-left: 40px;
  }

  .hotel {
    display: block;
    padding: 15px 24px 15px 18px;
    gap: 18px;
    margin-bottom: 24px;
  }

  .hotel-img-slider {
    width: 100%;
  }

  .room-img {
    height: 240px;
    width: 100%;
  }

  .hotel-details-container {
    margin-top: 24px;
    width: 100%;
  }

  .download-app-img {
    height: 170px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .filter-container {
    width: 28%;
    padding-right: 40px;
  }

  .hotels-result-container {
    width: 72%;
    padding-left: 40px;
  }
}

@media (min-width: 1400px) {
  .filter-container {
    width: 28%;
    padding-right: 40px;
  }

  .hotels-result-container {
    width: 72%;
    padding-left: 40px;
  }
}
