.footer-container {
  padding-top: 36px;
  padding-bottom: 36px;
  background: #159947;
  color: #ffffff;
}

.footer-head-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
  letter-spacing: 2px;
}

.custom-hr {
  background: #50b375;
  height: 1px;
  border: none;
}

.nav-items-container {
  /* width: 100%; */
  margin: auto;
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
}

.download-app-container {
  width: 220px;
}

.nav-items-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.6px;
  margin-bottom: 18px;
  text-align: center;
}

.app-google-icon {
  width: 108px;
  height: 36px;
}

.app-google-icon-container {
  display: flex;
  gap: 12px;
}

.nav-item-title {
  font-size: 14px;
}

.qr-img {
  width: 25px;
  height: 25px;
  margin-left: 12px;
}

.divide {
  width: 1px;
  height: 220px;
  background: #50b375;
}

.payment-items-container {
  display: flex;
  align-items: center;
  width: 230px;
}

.payment-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.payment-icon {
  width: 80px;
  /* height: 46px; */
}

.payment-arrow {
  width: 32px;
  height: 32px;
}

.discover-container {
  width: 300px;
}

.discover-items-container {
  display: flex;
  gap: 30px;
}

.discover-items-container a {
  font-size: 14px;
}

.contact-info {
  font-size: 14px;
  letter-spacing: 0.48px;
  margin-bottom: 8px;
}

.subscribe-email-input {
  width: 160px;
  padding-left: 10px;
  gap: 10px;
  background: #159947;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px 0px 0px 5px;
  font-size: 16px;
  letter-spacing: 0.48px;
  height: 44px;
}

.subscribe-email-input::placeholder {
  color: #ffffff;
  font-size: 14px;
  opacity: 0.8;
}

.subscribe-btn {
  width: 100px;
  height: 48px;
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
  background: #ffffff;
  color: #159947;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.54px;
  height: 44px;
}

.copyright-text{
  display: flex;
  justify-content: flex-end;
  margin: auto;
  margin-top: 40px;
}


/*************************
        Responsive
**************************/

@media (max-width: 575.98px) {
  .footer-container {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .footer-head-title {
    font-size: 16px;
    margin-bottom: 14px;
    letter-spacing: 2px;
  }

  .custom-hr {
    background: #50b375;
    height: 1px;
    border: none;
  }

  .nav-items-container {
    width: 100%;
    margin: auto;
    margin-top: 8px;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 8px;
    justify-content: center;
    /* background: red; */
  }

  .download-app-container {
    width: 220px;
    margin: auto;
  }

  .nav-items-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: 0.6px;
    margin-bottom: 18px;
    text-align: center;
  }

  .app-google-icon {
    width: 108px;
    height: 36px;
  }

  .app-google-icon-container {
    display: flex;
    gap: 12px;
  }

  .nav-item-title {
    font-size: 10px;
  }

  .qr-img {
    width: 25px;
    height: 25px;
    margin-left: 12px;
  }

  .divide {
    width: 100%;
    height: 1px;
    background: #50b375;
    border: none;
  }

  .payment-items-container {
    margin: auto;
    align-items: center;
    width: 230px;
  }

  .payment-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .payment-icon {
    width: 80px;
    /* height: 46px; */
  }

  .payment-arrow {
    width: 32px;
    height: 32px;
  }

  .discover-container {
    width: 300px;
    margin: auto;
  }

  .discover-items-container {
    /* width: 220px; */
    margin: auto;
    display: flex;
    gap: 30px;
  }

  .discover-items-container a {
    font-size: 14px;
  }

  .contact-container {
    margin: auto;
  }

  .contact-info {
    font-size: 14px;
    letter-spacing: 0.48px;
    margin-bottom: 8px;
  }

  .subscribe-email-input {
    width: 160px;
    padding-left: 10px;
    gap: 10px;
    background: #159947;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
    letter-spacing: 0.48px;
    height: 44px;
  }

  .subscribe-email-input::placeholder {
    color: #ffffff;
    font-size: 14px;
    opacity: 0.8;
  }

  .subscribe-btn {
    width: 100px;
    height: 48px;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    background: #ffffff;
    color: #159947;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.54px;
    height: 44px;
  }

  .copyright-text{
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}
}



@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer-head-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: 2px;
}

.custom-hr {
  background: #50b375;
  height: 1px;
  border: none;
}

.nav-items-container {
  /* width: 100%; */
  margin: auto;
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.download-app-container {
  width: 190px;
}

.nav-items-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.6px;
  margin-bottom: 18px;
  text-align: center;
}

.app-google-icon {
  width: 90px;
  height: 36px;
}

.app-google-icon-container {
  display: flex;
  gap: 4px;
}

.nav-item-title {
  font-size: 14px;
}

.qr-img {
  width: 25px;
  height: 25px;
  margin-left: 12px;
}

.divide {
  width: 1px;
  height: 220px;
  background: #50b375;
}

.payment-items-container {
  display: flex;
  align-items: center;
  width: 200px;
}

.payment-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding-left: 4px;
  padding-right: 4px;
}

.payment-icon {
  width: 60px;
  /* height: 46px; */
}

.payment-arrow {
  width: 32px;
  height: 32px;
}

.discover-container {
  width: 150px;
}

.discover-items-container {
  display: block;
  gap: 0px;
  /* justify-content: center; */
}

.discover-items-container a {
  font-size: 14px;
}

.contact-info {
  font-size: 14px;
  letter-spacing: 0.48px;
  margin-bottom: 8px;
}

.subscribe-email-input {
  width: 120px;
  padding-left: 4px;
  background: #159947;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px 0px 0px 5px;
  font-size: 16px;
  letter-spacing: 0.48px;
  height: 40px;
}

.subscribe-email-input::placeholder {
  color: #ffffff;
  font-size: 14px;
  opacity: 0.8;
}

.subscribe-btn {
  width: 80px;
  height: 40px;
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
  background: #ffffff;
  color: #159947;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.54px;
  height: 40px;
}

.copyright-text{
  display: flex;
  justify-content: flex-end;
  margin: auto;
  margin-top: 40px;
}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}
