

.text-color{
    color: #808783;
}

.onclick-color{
    background-color:#E8F5ED ;
    color: #159947;
    font-size: 16px;
}

.onclickcancel-color{
    background-color:#ffff ;
    color: #414B45;
    font-size: 16px;
}

.submenu-list-division 
{
    padding: 8px 12px;
}

.sidebar-width
{
    width: 15%;
}
.sidebar-close-width
{
    width: 5%;
}

.cus-origin-transform
{
    transform-origin: left; 
}

.sidebar-show-hide
{
    display: none;
}
.chuty-logo-division
{
    /* items-center border-b-[1px] border-[#E6E7E6] pt-4 h-[80px] bg-white  */
    align-items: center;
    border-bottom: 1px solid #E6E7E6;
    padding-top: 20px;
    height: 80px;
    background-color: #ffff;
}

.sidebar-content
{
    /* bg-white h-screen lg:p-5 md:p-5   relative duration-300 */
    background-color: #FFFFFF;
    height: 100%;
    /* height: 200vh; */
    padding: 20px;
    position: relative;
    transition-duration: 300ms;
}

.sidebar-content-section
{
    /* relative px-5 py-1 sm:p-0 */
    position: relative;
    padding: 0px;

}

.sidebar-menu-division
{
    /* flex relative items-center */
    display: flex;
    position: relative;
    align-items: center;
    gap: 15px;
   
   
}

.sidebar-menu-title
{
    /* ml-[8px] font-medium  duration-200 */
   font-weight: 500; 
  

}
.sidebar-icons
{
    /* cursor-pointer overflow-hidden ml-20  duration-500 absolute top-[0.4rem] right-0 */
    cursor: pointer;
    overflow: hidden;
    margin-left: 20px;
    position: absolute;
    top: 4px;
    right: 0px;

}

.navbar-list-submenu-gap{
    /* left-[5.3rem] md:left-[4.3rem] sm:left-[51px] */
    left: 4.3rem;
}

@media (max-width: 575.98px) {


.sidebar-width
{
    width: 0px;
    overflow: hidden;

   
}


.sidebar-close-width
{
    width: 60%;
}

.cus-origin-transform
{
    transform-origin: right; 
}

.sidebar-show-hide
{
    display: block;
}

.chuty-logo-division
{
    height: 115px;
}

.sidebar-content
{
    padding: 0px;
    /* height: 100vh; */
    z-index: 1;
}

.sidebar-content-section
{
    /* relative px-5 py-1 sm:p-0 */
   
    padding: 4px 20px;
    
}
.sidebar-small
{
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 8px 0px 12px 0px rgba(192, 195, 193, 0.2);
    /* min-height: 100vh; */
      position: fixed;
    z-index: 1;
    height: 100%;
}



.chutylogo
{
    display: none;
}
.chutysmall-logo
{
    display: block;
}





}

@media (min-width: 576px) and (max-width: 767.98px) {



.sidebar-width
{
    width: 0px;
    overflow: hidden;
   
}

.sidebar-close-width
{
    width: 40%;
    overflow: hidden;
}

.cus-origin-transform
{
    transform-origin: right; 
}

.sidebar-show-hide
{
    display: block;
}

.chuty-logo-division
{
    height: 130px;
}

.sidebar-content
{
    padding: 0px;
    /* height: 100vh; */
    z-index: 1;
}

.sidebar-content-section
{
    /* relative px-5 py-1 sm:p-0 */
   position: relative;
    padding: 4px 20px;
    
}
.sidebar-small
{
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 8px 0px 12px 0px rgba(192, 195, 193, 0.2);
    /* min-height: 100vh; */
    position: fixed;
    z-index: 1;
    height: 100%;
}




.chutylogo
{
    display: none;
}
.chutysmall-logo
{
    display: block;
}


}

@media (min-width: 768px) and (max-width: 991.98px) {
/* .sidebar-width
{
    width: 40%;
    overflow: hidden;
   
}
.sidebar-close-width{
    width: 13%;
}
.sidebar-menu-image-cus
{
    margin: auto;
} */


.sidebar-width
{
    width: 0px;
    overflow: hidden;
   
}

.sidebar-close-width
{
    width: 40%;
    overflow: hidden;
}

.cus-origin-transform
{
    transform-origin: right; 
}

.sidebar-show-hide
{
    display: block;
}

.chuty-logo-division
{
    height: 136px;
}

.sidebar-content
{
    padding: 0px;
    /* height: 100%; */
    z-index: 1;
}

.sidebar-content-section
{
    /* relative px-5 py-1 sm:p-0 */
   position: relative;
    padding: 4px 20px;
    
}
.sidebar-small
{
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 8px 0px 12px 0px rgba(192, 195, 193, 0.2);
    position: fixed;
    z-index: 1;
    height: 100%;
}



.chutylogo
{
    display: none;
}
.chutysmall-logo
{
    display: block;
}



}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .sidebar-close-width
{
    width: 10%;
   
  
}

.sidebar-width
{
   width: 18%;
}

.sidebar-menu-image-cus
{
    margin: auto;
}

.chutylogo
{
    display: block;
}
.chutysmall-logo
{
    display: none;
}

.submenu-unorder-list
{
    left: 70px;
}

.sidebar-content
{
    padding: 5px;
    /* height: 100%; */
    
}




}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .sidebar-width
    {
        width: 15%;
    }
    .sidebar-close-width
    {
        width: 7%;
    }

 
}

@media (max-width: 1600px) {

    /* .sidebar-width
    {
        width: 13%;
    }
    .sidebar-close-width
    {
        width: 5%;
    } */

    .sidebar-menu-image-cus
{
    min-width: 20px;
}
}






