.payment-list-content {
    padding: 20px;
  }
  
.payment-option {
  display: flex;
  gap: 8px;
  background-color: #ffff;
  padding: 20px;
  border-radius: 5px;
}

.payment-list {
  background-color: #ffff;
  padding: 20px;
  min-height: 550px;
  position: relative;
}

.paymentmethod-add-division
{
  background-color: #ffff;
  padding: 20px;
}

.paymentmethod-add-form
{
  width: 50%;
}
