@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("./fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-bold";
  src: local("Gilroy"), url("./fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: local("Gilroy"), url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "KaushanScript-Regular";
  src: local("Gilroy"),
    url("./fonts/KaushanScript-Regular.ttf") format("truetype");
}
/* @layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
} */

body {
  font-family: "Gilroy";
}

input {
  background-color: white !important;
  fill: white !important;
}

input:-internal-autofill-selected {
  background: white !important;
}

/* @layer base { */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield !important;
}
/* } */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
  cursor: pointer;
  background-size: 16px;
}

select:focus {
  outline: none;
}

input[type="radio"] {
  border-color: #159947 !important;
  background-color: #159947 !important;
  color: #159947 !important;
}

input[type="radio"]:checked {
  border-color: #159947 !important;
  background-color: #159947 !important;
  color: #159947 !important;
}

input[type="radio"]:focus {
  border-color: #159947 !important;
  background-color: #159947 !important;
  color: #159947 !important;
}

input[type="radio"]:hover {
  border-color: #159947 !important;
  background-color: #159947 !important;
  color: #159947 !important;
}

input[type="checkbox"]:checked {
  border-color: #159947 !important;
  background-color: #159947 !important;
  color: #159947 !important;
}
