.personal-hotel-details-container {
  margin-top: 14px;
  display: flex;
  gap: 30px;
  width: 100%;
}

.booking-title {
  font-size: 20px;
  font-family: "Gilroy-bold";
}

.personal-details-container {
  padding: 30px;
  background: white;
  box-shadow: 0px 4px 15px rgba(29, 170, 104, 0.12);
  border-radius: 8px;
  width: 50%;
}

.cancellation-message {
  color: #f02e25;
  background-color: #fdeae9;
  border-radius: 8px;
  font-size: 14px;
  padding: 18px 0;
  text-align: center;
}

.booking-details-container {
  padding: 30px;
  background: white;
  box-shadow: 0px 4px 15px rgba(29, 170, 104, 0.12);
  border-radius: 8px;
  width: 50%;
}

.booked-hotel-img {
  width: 240px;
  height: 166px;
  border-radius: 8px;
}

.payment-amount {
  padding: 10px;
  background: white;
  box-shadow: 0px 4px 15px rgba(29, 170, 104, 0.12);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-top: 20px;
}



@media (max-width: 575.98px) {
  .personal-hotel-details-container {
    display: block;
  }

  .booking-title {
    font-size: 16px;
  }

  .personal-details-container {
    padding: 16px;
    width: 100%;
  }

  .cancellation-message {
    font-size: 10px;
    padding: 14px 0;
  }

  .booking-details-container {
    padding: 16px;
    width: 100%;
    margin-top: 18px;
  }

  .booked-hotel-img {
    width: 120px;
    height: 110px;
  }

  .payment-amount {
    padding: 10px;
    font-size: 14px;
    column-gap: 14px;
    margin-top: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .personal-hotel-details-container {
    display: block;
  }

  .personal-details-container {
    padding: 30px;
    width: 100%;
  }

  .booking-details-container {
    padding: 30px;
    width: 100%;
    margin-top: 18px;
  }

   .booked-hotel-img {
    width: 150px;
    height: 124px;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {
  .personal-hotel-details-container {
    display: block;
  }

  .personal-details-container {
    padding: 30px;
    width: 100%;
  }

  .booking-details-container {
    padding: 30px;
    width: 100%;
    margin-top: 18px;
  }

    .booked-hotel-img {
    width: 150px;
    height: 124px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .personal-hotel-details-container {
    margin-top: 14px;
    display: flex;
    gap: 18px;
  }

  .cancellation-message {
    font-size: 12px;
    padding: 14px 0;
  }

    .booked-hotel-img {
    width: 174px;
    height: 140px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .personal-hotel-details-container {
    margin-top: 14px;
    display: flex;
  }
}

@media (min-width: 1400px) {
}
